:root {
    --title-color: #212121;
    --accent-color: #2196f3;
}
body {
    font-family: 'Roboto', sans-serif ;
    font-size: 14px;
    background-color: #ffffff;
    color: #757575;
    letter-spacing: 0.03em;
}
.link {
    color: #757575;
    text-decoration: none;
}
.list {
     list-style: none;
}
a {
    text-decoration: none;
}
/* Хедер */
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.logo-accent {
    color: var(--accent-color);
}
.logo-black {
    color: black;
}
.header-list {
    color: var(--title-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: black;
}
.header-list-cont{
font-family: Roboto;
font-style: normal;
font-weight: 500;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;
}
.header-link-nav {
    color: var(--accent-color);

}
.contact-link-nav {
    color: var(--accent-color);
}
.header-list-cont :hover,
.header-list-cont :focus,
.header-list :hover,
.header-list :focus,
.contact-link-nav .link:hover,
.contact-link-nav .link:focus,
.contact-link .link:hover,
.contact-link .link:focus { 
color: var(--accent-color); }
/* Герой */
.hero {
    background: #2F303A;
}
.hero-title {
    font-family: Roboto ;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}
.hero-btn {
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: white;
  }
.btn {
        font-family: inherit;
        font-weight: 500;
        text-align: center;
        font-size: 16px;
        letter-spacing: inherit;
        line-height: 1.62;
        background-color: var(--accent-color);
        color: white;
        border-radius: 4px;
        cursor: pointer;
}
/* Наші переваги */
.hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.benefits-title {
    line-height: 1.14;
    color: var(--title-color);
}
.benefits-text {
 line-height: 1.71;
}
/* Наша Робота */
.work-title {
    line-height: 1.16;
    color: var(--title-color);
}
/* Наша Команда */
.team-title {
    line-height: 1.16;
    color: var(--title-color);
}
.name {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-color);
}
.prof {
    line-height: 1.18;

}
/* Підвал */
footer {
    background: #2F303A; 
}
.logo-white {
    color: white;
}
address {
    font-style: normal;
}
.link-address{
    color: white;
}
.address-list {
    line-height: 1.71;
    
}
.address-list .link:hover,
.address-list .link:focus,
.address-link-footer link:hover,
.address-link-footer link:focus,
.link-address:hover,
.link-address:focus
{color: var(--accent-color);}
/* Портфоліо */
.header-link-second {
    color: var(--title-color);
}
.hero-btn-port {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
    
}
.btn-prot {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    color: var(--title-color);
    cursor: pointer;
}
.btn-prot:hover,
.btn-prot:focus { 
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}
.portfolio-list-title {
    font-size: 18px;
    line-height: 2;
    color: var(--title-color);
}
.portfolio-list-text {
    font-size: 16px;
    line-height: 1.87;
}